@page "/test"
@using System.Text.Json
@using System.IO

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private string result = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        using (HttpClient client = new HttpClient())
        {
            string clientId = System.Environment.GetEnvironmentVariable("AZURE_CLIENT_ID");
            string clientSecret = Environment.GetEnvironmentVariable("AZURE_CLIENT_SECRET");
            string subscriptionId = Environment.GetEnvironmentVariable("AZURE_SUBSCRIPTION_ID");
            string tenantId = Environment.GetEnvironmentVariable("AZURE_TENANT_ID");

            Dictionary<string, string> body = new Dictionary<string, string>() {
                { "grant_type", "client_credentials" },
                { "resource", "https://management.azure.com" },
                { "client_id", clientId },
                { "client_secret", clientSecret }
            };
            
            var response = await client.PostAsync($"https://login.microsoftonline.com/{tenantId}/oauth2/token", new FormUrlEncodedContent(body));
            result = await response.Content.ReadAsStringAsync();
            Console.WriteLine(result);
            JsonDocument doc = JsonDocument.Parse(result);
            string accessToken = doc.RootElement.GetProperty("access_token").GetString();

            client.DefaultRequestHeaders.Add("Authorization", $"Bearer {accessToken}");
            var resources = await client.GetAsync($"https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups?api-version=2020-06-01");
            result = await resources.Content.ReadAsStringAsync();

            string filename = $"../Microsoft.Network_virtualNetworks_subnets.json";
            if (File.Exists(filename) == false)
            {
                File.WriteAllText(filename, result);
            }

            doc = JsonDocument.Parse(result);
            StateHasChanged();
        }
    }
}

